.list-container{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.to-do-list {
    width: 75%;
    margin: 0 auto;
    list-style-type: none;

    /* TEST */
    background-color: lightgrey;
}

.to-do-list li {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.todo-done{
    text-decoration: line-through;
    
}




